services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: esim-backend
        restart: unless-stopped
        ports:
            - "127.0.0.1:6698:80"
        environment:
            - APP_ENV=production
            - APP_DEBUG=false
        volumes:
            - ./.env:/var/www/html/.env:ro
            - ./database/database.sqlite:/var/www/html/database/database.sqlite
            - laravel-storage:/var/www/html/storage/app
            - laravel-logs:/var/www/html/storage/logs
        networks:
          - shared-network

networks:
  shared-network:
    external: true

volumes:
  laravel-storage:
    driver: local
  laravel-logs:
    driver: local
